*.tar
*.pyc
*.ply
**/*.egg-info/
*.egg
.DS_Store
.TimeRecord
.vscode
*.pth
build
dist
.env


*.swp
*.swo
*.swn
*.r3d
*.npy

*.TimeRecord

*.so
*.pkl
*.mp4

data/
checkpoints/
third_party/
.idea/

evaluation/output
data_example/
*.zip

dovsg.pdf