*.tar
*.pyc
*.pt
*.ply
**/*.egg-info/
*.egg
.DS_Store
.TimeRecord
.vscode
*.pth
build
dist


*.swp
*.swo
*.swn
*.r3d
*.npy

*.TimeRecord

*.pkl
*.mp4
data
checkpoints

evaluation/output
data_example
*.zip