ackermann-msgs==2.0.2
action-msgs==1.2.1
action-tutorials-interfaces==0.20.5
action-tutorials-py==0.20.5
actionlib-msgs==4.2.4
addict==2.4.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
alphashape==1.3.1
ament-cmake-test==1.3.11
ament-copyright==0.12.11
ament-cppcheck==0.12.11
ament-cpplint==0.12.11
ament-flake8==0.12.11
ament-index-python==1.4.0
ament-lint==0.12.11
ament-lint-cmake==0.12.11
ament-package==0.14.0
ament-pep257==0.12.11
ament-uncrustify==0.12.11
ament-xmllint==0.12.11
angles==1.15.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.7.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.4
async-timeout==5.0.1
attrs==24.3.0
autocommand==2.2.2
autolab-core==1.1.1
autolab-perception==1.0.0
babel==2.16.0
backports.tarfile==1.2.0
beautifulsoup4==4.12.3
bleach==6.2.0
blinker==1.9.0
bond==3.0.2
builtin-interfaces==1.2.1
cartographer-ros-msgs==2.0.9002
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
click-log==0.4.0
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
cmake==3.31.2
colorlog==6.9.0
comm==0.2.2
composition-interfaces==1.2.1
ConfigArgParse==1.7
contourpy==1.2.1
control-msgs==4.7.0
controller-manager==2.44.0
controller-manager-msgs==2.44.0
cv-bridge==3.2.1
cvxopt==1.3.2
cycler==0.12.1
Cython==3.0.11
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.8.11
decorator==5.1.1
defusedxml==0.7.1
demo-nodes-py==0.20.5
diagnostic-msgs==4.2.4
diagnostic-updater==4.0.0
dill==0.3.9
distro==1.9.0
domain-coordinator==0.10.0
dsacstar==0.0.0
dwb-msgs==1.1.17
dynamic-window-approach==1.1.1
einops==0.8.0
example-interfaces==0.9.3
examples-rclpy-executors==0.15.3
examples-rclpy-minimal-action-client==0.15.3
examples-rclpy-minimal-action-server==0.15.3
examples-rclpy-minimal-client==0.15.3
examples-rclpy-minimal-publisher==0.15.3
examples-rclpy-minimal-service==0.15.3
examples-rclpy-minimal-subscriber==0.15.3
exceptiongroup==1.2.2
executing==2.1.0
fairscale==0.4.4
faiss==1.7.4
fastjsonschema==2.21.1
ffmpeg-python==0.2.0
filelock==3.16.1
Flask==3.0.3
fonttools==4.55.3
fqdn==1.5.1
freetype-py==2.5.1
frozenlist==1.5.0
fsspec==2024.12.0
ftfy==6.3.1
future==1.0.0
gazebo-model-attachment-plugin==1.0.3
gazebo-model-attachment-plugin-msgs==1.0.3
gazebo-msgs==3.7.0
gazebo-video-monitor-interfaces==0.8.1
gazebo-video-monitor-utils==0.8.1
gdown==5.2.0
generate-parameter-library-py==0.3.8
geographic-msgs==1.0.6
geometry-msgs==4.2.4
graphviz==0.20.3
grasp_nms==1.0.2
graspnetAPI==1.2.11
-e git+https://github.com/IDEA-Research/GroundingDINO.git@856dde20aee659246248e20734ef9ba5214f5e44#egg=groundingdino&subdirectory=../../../third_party/GroundingDINO
h11==0.14.0
h5py==3.12.1
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.27.0
hydra-core==1.3.2
idna==3.10
imageio==2.36.1
importlib_metadata==8.0.0
importlib_resources==6.4.0
inflect==7.3.1
interactive-markers==2.3.2
iopath==0.1.10
ipykernel==6.29.5
ipython==8.18.1
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jedi==0.19.2
Jinja2==3.1.4
jiter==0.8.2
joblib==1.4.2
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
json5==0.10.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.11.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.3.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
kornia==0.7.4
kornia_rs==0.1.7
laser-geometry==2.4.0
launch==1.0.7
launch-pytest==1.0.7
launch-ros==0.19.8
launch-testing==1.0.7
launch-testing-ros==0.19.8
launch-xml==1.0.7
launch-yaml==1.0.7
lifecycle-msgs==1.2.1
-e git+https://github.com/cvg/LightGlue.git@edb2b838efb2ecfe3f88097c5fad9887d95aedad#egg=lightglue&subdirectory=../../../third_party/LightGlue
lightning-utilities==0.11.9
logging-demo==0.20.5
map-msgs==2.1.0
MarkupSafe==3.0.2
matplotlib==3.7.2
matplotlib-inline==0.1.7
message-filters==4.3.5
MinkowskiEngine @ git+https://github.com/pccws/MinkowskiEngine@078ccfbb36f2c9b5444af10e2cce7a260c3acc3b
mistune==3.0.2
more-itertools==10.3.0
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.17
nav-2d-msgs==1.1.17
nav-msgs==4.2.4
nav2-common==1.1.17
nav2-msgs==1.1.17
nav2-simple-commander==1.0.0
nbclient==0.10.2
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
ninja==1.11.1.3
notebook==7.3.1
notebook_shim==0.2.4
numpy==1.23.0
numpy-quaternion==2023.0.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.1.105
omegaconf==2.3.0
open3d==0.18.0
open_clip_torch==2.29.0
openai==1.43.0
openai-clip==1.0.1
opencv-python==4.10.0.84
opencv-python-headless==4.10.0
ordered-set==4.1.0
osrf-pycommon==2.1.4
overrides==7.7.0
packaging==24.1
pandas==2.0.3
pandocfilters==1.5.1
parso==0.8.4
pcl-msgs==1.0.0
pendulum-msgs==0.20.5
pexpect==4.9.0
Pillow==9.5.0
platformdirs==4.2.2
plotly==5.24.1
pointnet2==0.0.0
portalocker==3.0.0
prometheus_client==0.21.1
prompt_toolkit==3.0.48
propcache==0.2.1
protobuf==3.19.0
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
pybind11==2.13.6
pycocoevalcap==1.2
pycocotools==2.0.8
pycparser==2.22
pydantic==2.10.4
pydantic_core==2.27.2
pyglet==2.0.20
Pygments==2.18.0
pyliblzfse==0.4.1
PyOpenGL==3.1.0
pyparsing==3.0.9
pyquaternion==0.9.9
pyrealsense2==2.55.1.6486
pyrender==0.1.45
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-json-logger==3.2.1
python-qt-binding==1.1.2
pytorch-lightning==2.4.0
pytorch3d==0.7.7
pytz==2024.2
PyWavefront==1.3.3
PyWavelets==1.4.1
PyYAML==6.0.2
pyzmq==26.2.0
qt-dotgraph==2.2.3
qt-gui==2.2.3
qt-gui-cpp==2.2.3
qt-gui-py-common==2.2.3
quality-of-service-demo-py==0.20.5
-e git+https://github.com/xinyu1205/recognize-anything.git@88c2b0ca13e38cca6655f83ad0185271167dbcbf#egg=ram&subdirectory=../../../third_party/recognize-anything
rcl-interfaces==1.2.1
rclpy==3.3.15
rcutils==5.1.6
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
resource-retriever==3.1.2
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rmw-dds-common==1.6.0
robot-localization==3.5.3
ros2action==0.18.11
ros2bag==0.15.13
ros2cli==0.18.11
ros2component==0.18.11
ros2controlcli==2.44.0
ros2doctor==0.18.11
ros2interface==0.18.11
ros2launch==0.19.8
ros2lifecycle==0.18.11
ros2multicast==0.18.11
ros2node==0.18.11
ros2param==0.18.11
ros2pkg==0.18.11
ros2run==0.18.11
ros2service==0.18.11
ros2topic==0.18.11
rosbag2-interfaces==0.15.13
rosbag2-py==0.15.13
rosgraph-msgs==1.2.1
rosidl-adapter==3.1.6
rosidl-cli==3.1.6
rosidl-cmake==3.1.6
rosidl-generator-c==3.1.6
rosidl-generator-cpp==3.1.6
rosidl-generator-py==0.14.4
rosidl-parser==3.1.6
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.2
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-typesupport-introspection-c==3.1.6
rosidl-typesupport-introspection-cpp==3.1.6
rpds-py==0.22.3
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag==1.1.5
rqt-bag-plugins==1.1.5
rqt-console==2.0.3
rqt-graph==1.3.1
rqt-gui==1.1.7
rqt-gui-py==1.1.7
rqt-msg==1.2.0
rqt-plot==1.1.2
rqt-publisher==1.5.0
rqt-py-common==1.1.7
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-tf-tree==1.0.5
rqt-topic==1.5.0
Rtree==1.3.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
safetensors==0.4.5
-e git+https://github.com/facebookresearch/segment-anything-2.git@7e1596c0b6462eb1d1ba7e1492430fed95023598#egg=SAM_2&subdirectory=../../../third_party/segment-anything-2
scikit-image==0.19.3
scikit-learn==1.4.0
scipy==1.10.1
scripts==3.7.0
Send2Trash==1.8.3
sensor-msgs==4.2.4
sensor-msgs-py==4.2.4
setproctitle==1.3.4
shape-msgs==4.2.4
shapely==2.0.6
six==1.17.0
slam-toolbox==2.6.8
smclib==3.0.2
sniffio==1.3.1
soupsieve==2.6
sros2==0.10.5
stack-data==0.6.3
statistics-msgs==1.2.1
std-msgs==4.2.4
std-srvs==4.2.4
stereo-msgs==4.2.4
supervision==0.14.0
sympy==1.13.3
teleop-twist-keyboard==2.4.0
tenacity==9.0.0
terminado==0.18.1
test-msgs==1.2.1
tf-transformations==1.1.0
tf2-geometry-msgs==0.25.9
tf2-kdl==0.25.9
tf2-msgs==0.25.9
tf2-py==0.25.9
tf2-ros-py==0.25.9
tf2-tools==0.25.9
threadpoolctl==3.5.0
tifffile==2024.8.30
timm==0.4.12
tinycss2==1.4.0
tokenizers==0.21.0
tomli==2.0.1
topic-monitor==0.20.5
torch==2.3.1
torch-geometric==2.6.1
torch_cluster @ file:///home/yanzj/workspace/code1/torch_cluster-1.6.3%2Bpt23cu121-cp39-cp39-linux_x86_64.whl#sha256=964e7ea4a8a29369cffc9f9f1c4940136e7ae3602b333d892101941b7137bc9b
torchaudio==2.3.1
torchmetrics==1.6.0
torchvision==0.18.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
trajectory-msgs==4.2.4
transformers==4.47.1
transforms3d==0.3.1
trimesh==4.5.3
triton==2.3.1
turtlesim==1.4.2
typeguard==4.3.0
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
tzdata==2024.2
unique-identifier-msgs==2.2.1
uri-template==1.3.0
urllib3==2.2.3
visualization-msgs==4.2.4
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.6
wget==3.2
widgetsnbextension==4.0.13
xacro==2.0.8
yapf==0.43.0
yarl==1.18.3
zipp==3.19.2
zmq==0.0.0
